################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs
/reports/Курмыса/3/src/.vs/src/v16
/reports/Курмыса/3/src/.vs
/reports/Курмыса/.vs
